[Unit]
Description=Running program for home automation gateway

[Service]
User=root
Group=root

Type=simple
ExecPreStart= /root/init_IO.sh
ExecStart= /root/home_automation_gateway

[Install]
WantedBy=multi-user.target
